@media(max-width: 393px){
    .logo{
        margin-left: -5rem; 
        width: 10px;
    }
    .home{
        margin-left: 3rem;
    }
    .services{
        margin-left: -2rem;
        margin-top: rem;
    }
    .sign-in{
        margin-left: rem;
    }
    .contact{
        margin-right: -10rem;
    }
  }
