[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.10"

CLOUDINARY_URL=cloudinary://865799727479877:1r484edxckpzuk19eDXcbJvhMhc@dqgwkixif
